adf.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "adfName": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "Name of data factory service. If empty, name will be generated."
            }
        },
        "fhirServerUrl": {
            "type": "string",
            "defaultValue": "http://vonk.fhire.ly",
            "metadata": {
                "description": "FHIR server URL"
            }
        },
        "aadAuthority": {
            "type": "string",
            "defaultValue": "https://login.microsoftonline.com/common",
            "metadata": {
                "description": "OAuth Authority for FHIR server"
            }
        },
        "aadClientId": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "AAD client application id for accessing FHIR server"
            }
        },
        "aadClientSecret": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "AAD client secret"
            }
        },
        "aadAudience": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "Audience (resource) of the FHIR API app registration"
            }
        },
        "batchVmSize": {
            "type": "string",
            "defaultValue": "Standard_A2_v2",
            "allowedValues": [
                "Standard_A1_v2",
                "Standard_A2_v2",
                "Standard_A4_v2",
                "Standard_A8_v2"
            ],
            "metadata": {
                "description": "Size of VMs in Azure Batch"
            }
        },
        "storageAccountType": {
            "type": "string",
            "defaultValue": "Standard_LRS",
            "allowedValues": [
                "Standard_LRS",
                "Standard_GRS",
                "Standard_ZRS"
            ],
            "metadata": {
                "description": "Storage Account type"
            }
        },
        "sqlServerAdminUserName": {
            "type": "string",
            "defaultValue": "dbadmin",
            "metadata": {
                "description": "Administrator for SQL server"
            }
        },
        "sqlServerAdminPassword": {
            "type": "securestring",
            "metadata": {
                "description": "Administrator password for SQL server"
            }
        },
        "adfCustomArtifactsBaseUrl": {
            "type":"string",
            "defaultValue": "https://fhirdemo.blob.core.windows.net/adf/",
            "metadata": {
                "description": "HTTP location of custom artifacts (activities), etc."
            }
        }
    },
    "variables": {
        "adfName": "[if(empty(parameters('adfName')), concat('fhiradf', uniqueString(resourceGroup().id)), parameters('adfName'))]",
        "storageAccountName": "[concat(toLower(variables('adfName')),'sa')]",
        "batchAccountName": "[concat(toLower(variables('adfName')),'batch')]",
        "batchPoolName": "fhirpool1",
        "sqlServerName": "[concat(toLower(variables('adfName')),'sql')]",
        "sqlDatabaseName": "fhir",
        "useAad": "[and(and(not(empty(parameters('aadClientId'))),not(empty(parameters('aadClientSecret')))),not(empty(parameters('aadAudience'))))]",
        "blobStorageLinkName": "AzureBlobStorage1",
        "sqlLinkName": "AzureSqlDatabase1",
        "batchLinkName": "AzureBatch1",
        "httpServerLinkName": "ArtifactsHttp1",
        "customExportActivityZip": "publish.zip",
        "customExportActivityScript": "CustomActivity.ps1",
        "customActivityZipDatasetName": "customExportActivityZip",
        "customActivityScriptDatasetName": "customExportActivityScript",
        "customActivityBlobFolderName": "custom-activity",
        "customActivityZipBlobDatasetName": "customExportActivityBlobZip",
        "customActivityScriptBlobDatasetName": "customExportActivityBlobScript",
        "copyArtifactsPipelineName": "copyArtifacts",
        "fhirExportPipeLineName": "FHIRExport",
        "fhirExportBlobFolderName": "fhirexport",
        "fhirExportPatientBlobName": "patient.json",
        "fhirExportWeightBlobName": "weight.json",
        "fhirExportHeightBlobName": "height.json",
        "copyActivityPatientBlobDatasetName": "PatientBlob",
        "copyActivityWeightBlobDatasetName": "WeightBlob",
        "copyActivityHeightBlobDatasetName": "HeightBlob",
        "copyActivityPatientSqlDatasetName": "PatientSql",
        "copyActivityWeightSqlDatasetName": "WeightSql",
        "copyActivityHeightSqlDatasetName": "HeightSql",
        "copyActivitySummarySqlDatasetName": "PatientSummarySql"
    },
    "resources": [
        {
            "type": "Microsoft.Storage/storageAccounts",
            "name": "[variables('storageAccountName')]",
            "apiVersion": "2017-10-01",
            "location": "[resourceGroup().location]",
            "sku": {
                "name": "[parameters('storageAccountType')]"
            },
            "kind": "Storage",
            "properties": {}
        },
        {
            "name": "[variables('batchAccountName')]",
            "type": "Microsoft.Batch/batchAccounts",
            "apiVersion": "2017-09-01",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
            ],
            "properties": {
              "autoStorage": {
                "storageAccountId": "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
              },
              "poolAllocationMode": "BatchService"
            },
            "resources": []
          },
          {
            "type": "Microsoft.Batch/batchAccounts/pools",
            "name": "[concat(variables('batchAccountName'), '/', variables('batchPoolName'))]",
            "apiVersion": "2017-09-01",
            "scale": null,
            "properties": {
                "vmSize": "[parameters('batchVmSize')]",
                "interNodeCommunication": "Disabled",
                "maxTasksPerNode": 4,
                "taskSchedulingPolicy": {
                    "nodeFillType": "Spread"
                },
                "deploymentConfiguration": {
                    "virtualMachineConfiguration": {
                        "imageReference": {
                            "publisher": "MicrosoftWindowsServer",
                            "offer": "WindowsServer",
                            "sku": "2016-Datacenter",
                            "version": "latest"
                        },
                        "nodeAgentSkuId": "batch.node.windows amd64",
                        "windowsConfiguration": {
                            "enableAutomaticUpdates": false
                        }
                    }
                },
                "scaleSettings": {
                    "fixedScale": {
                        "targetDedicatedNodes": 1,
                        "targetLowPriorityNodes": 0,
                        "resizeTimeout": "PT15M"
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Batch/batchAccounts', variables('batchAccountName'))]"
            ]
        },
        {
            "name": "[variables('sqlServerName')]",
            "type": "Microsoft.Sql/servers",
            "apiVersion": "2015-05-01-preview",
            "location": "[resourceGroup().location]",
            "identity": {
              "type": "SystemAssigned"
            },
            "properties": {
              "administratorLogin": "[parameters('sqlServerAdminUserName')]",
              "administratorLoginPassword": "[parameters('sqlServerAdminPassword')]",
              "version": "12.0"
            },
            "resources": [
                {
                    "type": "firewallrules",
                    "apiVersion": "2014-04-01",
                    "dependsOn": [
                      "[variables('sqlServerName')]"
                    ],
                    "location": "[resourceGroup().location]",
                    "name": "AllowAllWindowsAzureIps",
                    "properties": {
                      "endIpAddress": "0.0.0.0",
                      "startIpAddress": "0.0.0.0"
                    }
                  }          
            ]
        },
        {
            "type": "Microsoft.Sql/servers/databases",
            "sku": {
                "name": "S0",
                "tier": "Standard"
            },
            "kind": "v12.0,user",
            "name": "[concat(variables('sqlServerName'), '/', variables('sqlDatabaseName'))]",
            "apiVersion": "2017-03-01-preview",
            "location": "[resourceGroup().location]",
            "scale": null,
            "properties": {
                "collation": "SQL_Latin1_General_CP1_CI_AS",
                "maxSizeBytes": 268435456000,
                "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
                "zoneRedundant": false
            },
            "dependsOn": [
                "[resourceId('Microsoft.Sql/servers', variables('sqlServerName'))]"
            ]
        },
        {
            "name": "[variables('adfName')]",
            "type": "Microsoft.DataFactory/factories",
            "apiVersion": "2018-06-01",
            "location": "[resourceGroup().location]",
            "identity": {
              "type": "SystemAssigned"
            },
            "properties": {
            },
            "resources": []
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('sqlLinkName'))]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "connectionString": "[concat('Data Source=tcp:', reference(resourceId('Microsoft.Sql/servers/', variables('sqlserverName'))).fullyQualifiedDomainName, ',1433;Initial Catalog=', variables('sqlDatabaseName'), ';User Id=', parameters('sqlServerAdminUserName'), '@', variables('sqlServerName'), ';Password=', parameters('sqlServerAdminPassword'), ';')]"
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories', variables('adfName'))]",
                "[resourceId('Microsoft.Sql/servers', variables('sqlServerName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('blobStorageLinkName'))]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[concat('DefaultEndpointsProtocol=https;AccountName=',variables('storageAccountName'),';AccountKey=',concat(listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')),'2015-05-01-preview').key1))]"
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]",
                "[resourceId('Microsoft.DataFactory/factories', variables('adfName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('batchLinkName'))]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBatch",
                "typeProperties": {
                    "accountName": "[variables('batchAccountName')]",
                    "accessKey": {
                        "type": "SecureString",
                        "value": "[listKeys(resourceId('Microsoft.Batch/batchAccounts', variables('batchAccountName')), '2017-09-01').primary]"
                    },
                    "batchUri": "[concat('https://', variables('batchAccountName'), '.' , resourceGroup().location, '.batch.azure.com')]",
                    "poolName": "[variables('batchPoolName')]",
                    "linkedServiceName": {
                        "referenceName": "[variables('blobStorageLinkName')]",
                        "type": "LinkedServiceReference"
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories', variables('adfName'))]",
                "[resourceId('Microsoft.Batch/batchAccounts', variables('batchAccountName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('blobStorageLinkName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('httpServerLinkName'))]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "HttpServer",
                "typeProperties": {
                    "url": "[parameters('adfCustomArtifactsBaseUrl')]",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories', variables('adfName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('customActivityZipDatasetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('httpServerLinkName')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "HttpFile",
                "typeProperties": {
                    "relativeUrl": "[variables('customExportActivityZip')]",
                    "requestMethod": "Get"
                }
            },
            "dependsOn": [
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('httpServerLinkName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('customActivityScriptDatasetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('httpServerLinkName')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "HttpFile",
                "typeProperties": {
                    "relativeUrl": "[variables('customExportActivityScript')]",
                    "requestMethod": "Get"
                }
            },
            "dependsOn": [
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('httpServerLinkName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('customActivityZipBlobDatasetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('blobStorageLinkName')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "fileName": "[variables('customExportActivityZip')]",
                    "folderPath": "[variables('customActivityBlobFolderName')]"
                }
            },
            "dependsOn": [
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('blobStorageLinkName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('customActivityScriptBlobDatasetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('blobStorageLinkName')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureBlob",
                "typeProperties": {
                    "fileName": "[variables('customExportActivityScript')]",
                    "folderPath": "[variables('customActivityBlobFolderName')]"
                }
            },
            "dependsOn": [
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('blobStorageLinkName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('copyActivityPatientBlobDatasetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('blobStorageLinkName')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureBlob",
                "structure": [
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "gender",
                        "type": "String"
                    },
                    {
                        "name": "birthDate",
                        "type": "String"
                    },
                    {
                        "name": "multipleBirth",
                        "type": "Boolean"
                    },
                    {
                        "name": "lastUpdated",
                        "type": "String"
                    },
                    {
                        "name": "maritalStatus",
                        "type": "String"
                    },
                    {
                        "name": "latitute",
                        "type": "Double"
                    },
                    {
                        "name": "longitude",
                        "type": "Double"
                    }
                ],
                "typeProperties": {
                    "format": {
                        "type": "JsonFormat",
                        "filePattern": "setOfObjects",
                        "jsonPathDefinition": {
                            "id": "$.['id']",
                            "gender": "$.['gender']",
                            "birthDate": "$.['birthDate']",
                            "multipleBirth": "$.['multipleBirthBoolean']",
                            "lastUpdated": "$.['meta']['lastUpdated']",
                            "maritalStatus": "$.['maritalStatus']['text']",
                            "latitute": "$.['address'][0]['extension'][0]['extension'][?(@.url == 'latitude')]['valueDecimal']",
                            "longitude": "$.['address'][0]['extension'][0]['extension'][?(@.url == 'longitude')]['valueDecimal']",
                            "SSN": "$.['identifier'][?(@.system == 'http://hl7.org/fhir/sid/us-ssn')]['value']"
                        }
                    },
                    "fileName": "[variables('fhirExportPatientBlobName')]",
                    "folderPath": "[variables('fhirExportBlobFolderName')]"
                }
            },
            "dependsOn": [
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('blobStorageLinkName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('copyActivityPatientSqlDatasetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('sqlLinkName')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "structure": [
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "gender",
                        "type": "String"
                    },
                    {
                        "name": "birthDate",
                        "type": "DateTime"
                    },
                    {
                        "name": "multipleBirth",
                        "type": "String"
                    },
                    {
                        "name": "lastUpdated",
                        "type": "DateTime"
                    },
                    {
                        "name": "maritalStatus",
                        "type": "String"
                    },
                    {
                        "name": "lattitude",
                        "type": "Double"
                    },
                    {
                        "name": "longitude",
                        "type": "Double"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat('[', 'dbo].[Patients]')]"
                }
            },
            "dependsOn": [
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('sqlLinkName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('copyActivityHeightBlobDatasetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('blobStorageLinkName')]",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureBlob",
                "structure": [
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "issued",
                        "type": "String"
                    },
                    {
                        "name": "valueQuantity.value",
                        "type": "Double"
                    },
                    {
                        "name": "valueQuantity.unit",
                        "type": "String"
                    },
                    {
                        "name": "subject.reference",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "format": {
                        "type": "JsonFormat",
                        "filePattern": "setOfObjects",
                        "jsonPathDefinition": {
                            "id": "$.['id']",
                            "issued": "$.['issued']",
                            "valueQuantity.value": "$.['valueQuantity']['value']",
                            "valueQuantity.unit": "$.['valueQuantity']['unit']",
                            "subject.reference": "$.['subject']['reference']"
                        }
                    },
                    "fileName": "[variables('fhirExportHeightBlobName')]",
                    "folderPath": "[variables('fhirExportBlobFolderName')]"
                }
            },
            "dependsOn": [
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('blobStorageLinkName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('copyActivityHeightSqlDatasetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('sqlLinkName')]",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlTable",
                "structure": [
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "subject",
                        "type": "String"
                    },
                    {
                        "name": "height",
                        "type": "Double"
                    },
                    {
                        "name": "unit",
                        "type": "String"
                    },
                    {
                        "name": "issued",
                        "type": "DateTime"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat('[', 'dbo].[Height]')]"
                }
            },
            "dependsOn": [
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('sqlLinkName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('copyActivityWeightSqlDatasetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('sqlLinkName')]",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlTable",
                "structure": [
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "subject",
                        "type": "String"
                    },
                    {
                        "name": "weight",
                        "type": "Double"
                    },
                    {
                        "name": "unit",
                        "type": "String"
                    },
                    {
                        "name": "issued",
                        "type": "DateTime"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat('[', 'dbo].[Weight]')]"
                }
            },
            "dependsOn": [
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('sqlLinkName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('copyActivitySummarySqlDatasetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('sqlLinkName')]",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlTable",
                "structure": [
                    {
                        "name": "patientId",
                        "type": "String"
                    },
                    {
                        "name": "ageYears",
                        "type": "Int16"
                    },
                    {
                        "name": "lattitude",
                        "type": "Double"
                    },
                    {
                        "name": "longitude",
                        "type": "Double"
                    },
                    {
                        "name": "weight",
                        "type": "Double"
                    },
                    {
                        "name": "height",
                        "type": "Double"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat('[', 'dbo].[PatientSummary]')]"
                }
            },
            "dependsOn": [
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('sqlLinkName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('copyActivityWeightBlobDatasetName'))]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[variables('blobStorageLinkName')]",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureBlob",
                "structure": [
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "subject",
                        "type": "String"
                    },
                    {
                        "name": "issued",
                        "type": "String"
                    },
                    {
                        "name": "valueQuantity.value",
                        "type": "Double"
                    },
                    {
                        "name": "valueQuantity.unit",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "format": {
                        "type": "JsonFormat",
                        "filePattern": "setOfObjects",
                        "jsonPathDefinition": {
                            "id": "$.['id']",
                            "subject": "$.['subject']['reference']",
                            "issued": "$.['issued']",
                            "valueQuantity.value": "$.['valueQuantity']['value']",
                            "valueQuantity.unit": "$.['valueQuantity']['unit']"
                        }
                    },
                    "fileName": "[variables('fhirExportWeightBlobName')]",
                    "folderPath": "[variables('fhirExportBlobFolderName')]"
                }
            },
            "dependsOn": [
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('blobStorageLinkName'))]"
            ]
        },
        {
            "name": "[concat(variables('adfName'), '/', variables('fhirExportPipeLineName'))]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy Script",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "HttpSource",
                                "httpRequestTimeout": "00:01:40"
                            },
                            "sink": {
                                "type": "BlobSink"
                            },
                            "enableStaging": false,
                            "dataIntegrationUnits": 0
                        },
                        "inputs": [
                            {
                                "referenceName": "[variables('customActivityScriptDatasetName')]",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "[variables('customActivityScriptBlobDatasetName')]",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Copy Zip",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "HttpSource",
                                "httpRequestTimeout": "00:01:40"
                            },
                            "sink": {
                                "type": "BlobSink"
                            },
                            "enableStaging": false,
                            "dataIntegrationUnits": 0
                        },
                        "inputs": [
                            {
                                "referenceName": "[variables('customActivityZipDatasetName')]",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "[variables('customActivityZipBlobDatasetName')]",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "PatientExport",
                        "type": "Custom",
                        "dependsOn": [
                            {
                                "activity": "Copy Script",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "Copy Zip",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "command": "PowerShell -File .\\CustomActivity.ps1",
                            "resourceLinkedService": {
                                "referenceName": "[variables('blobStorageLinkName')]",
                                "type": "LinkedServiceReference"
                            },
                            "folderPath": "[variables('customActivityBlobFolderName')]",
                            "referenceObjects": {
                                "linkedServices": [],
                                "datasets": []
                            },
                            "extendedProperties": {
                                "AzureAD_Authority": "[parameters('aadAuthority')]",
                                "AzureAD_ClientId": "[parameters('aadClientId')]",
                                "AzureAD_ClientSecret": "[parameters('aadClientSecret')]",
                                "AzureAD_Audience": "[parameters('aadAudience')]",
                                "StorageConnectionString": "[concat('DefaultEndpointsProtocol=https;AccountName=',variables('storageAccountName'),';AccountKey=',concat(listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')),'2015-05-01-preview').key1))]",
                                "BlobFolder": "[variables('fhirExportBlobFolderName')]",
                                "FhirServerUrl": "[parameters('fhirServerUrl')]",
                                "FhirQuery": "/Patient?_count=100",
                                "OutputFile": "[variables('fhirExportPatientBlobName')]"              
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "[variables('batchLinkName')]",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "WeightExport",
                        "type": "Custom",
                        "dependsOn": [
                            {
                                "activity": "Copy Script",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "Copy Zip",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "command": "PowerShell -File .\\CustomActivity.ps1",
                            "resourceLinkedService": {
                                "referenceName": "[variables('blobStorageLinkName')]",
                                "type": "LinkedServiceReference"
                            },
                            "folderPath": "[variables('customActivityBlobFolderName')]",
                            "referenceObjects": {
                                "linkedServices": [],
                                "datasets": []
                            },
                            "extendedProperties": {
                                "AzureAD_Authority": "[parameters('aadAuthority')]",
                                "AzureAD_ClientId": "[parameters('aadClientId')]",
                                "AzureAD_ClientSecret": "[parameters('aadClientSecret')]",
                                "AzureAD_Audience": "[parameters('aadAudience')]",
                                "StorageConnectionString": "[concat('DefaultEndpointsProtocol=https;AccountName=',variables('storageAccountName'),';AccountKey=',concat(listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')),'2015-05-01-preview').key1))]",
                                "BlobFolder": "[variables('fhirExportBlobFolderName')]",
                                "FhirServerUrl": "[parameters('fhirServerUrl')]",
                                "FhirQuery": "/Observation?code=29463-7&_count=100",
                                "OutputFile": "[variables('fhirExportWeightBlobName')]"              
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "[variables('batchLinkName')]",
                            "type": "LinkedServiceReference"
                        }
                    },
                    
                    {
                        "name": "HeightExport",
                        "type": "Custom",
                        "dependsOn": [
                            {
                                "activity": "Copy Script",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "Copy Zip",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "command": "PowerShell -File .\\CustomActivity.ps1",
                            "resourceLinkedService": {
                                "referenceName": "[variables('blobStorageLinkName')]",
                                "type": "LinkedServiceReference"
                            },
                            "folderPath": "[variables('customActivityBlobFolderName')]",
                            "referenceObjects": {
                                "linkedServices": [],
                                "datasets": []
                            },
                            "extendedProperties": {
                                "AzureAD_Authority": "[parameters('aadAuthority')]",
                                "AzureAD_ClientId": "[parameters('aadClientId')]",
                                "AzureAD_ClientSecret": "[parameters('aadClientSecret')]",
                                "AzureAD_Audience": "[parameters('aadAudience')]",
                                "StorageConnectionString": "[concat('DefaultEndpointsProtocol=https;AccountName=',variables('storageAccountName'),';AccountKey=',concat(listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')),'2015-05-01-preview').key1))]",
                                "BlobFolder": "[variables('fhirExportBlobFolderName')]",
                                "FhirServerUrl": "[parameters('fhirServerUrl')]",
                                "FhirQuery": "/Observation?code=8302-2&_count=100",
                                "OutputFile": "[variables('fhirExportHeightBlobName')]"              
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "[variables('batchLinkName')]",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "PatientToSql",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "PatientExport",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlSink",
                                "writeBatchSize": 10000,
                                "preCopyScript": "DROP TABLE [dbo].[Patients];\n\nCREATE TABLE [dbo].[Patients](\n\t[id] [varchar](50) NOT NULL,\n\t[gender] [varchar](50) NULL,\n\t[birthDate] [datetime] NULL,\n\t[multipleBirth] [varchar](50) NULL,\n\t[lastUpdated] [datetime] NULL,\n\t[maritalStatus] [varchar](50) NULL,\n\t[lattitude] [float] NULL,\n\t[longitude] [float] NULL\n) ON [PRIMARY];\n"
                            },
                            "enableStaging": false,
                            "dataIntegrationUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": {
                                    "id": "id",
                                    "gender": "gender",
                                    "birthDate": "birthDate",
                                    "multipleBirth": "multipleBirth",
                                    "lastUpdated": "lastUpdated",
                                    "maritalStatus": "maritalStatus",
                                    "latitute": "lattitude",
                                    "longitude": "longitude"
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "[variables('copyActivityPatientBlobDatasetName')]",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "[variables('copyActivityPatientSqlDatasetName')]",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "HeightToSql",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "HeightExport",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlSink",
                                "writeBatchSize": 10000,
                                "preCopyScript": "DROP TABLE [dbo].[Height];\n\nCREATE TABLE [dbo].[Height](\n\t[id] [varchar](50) NOT NULL,\n\t[subject] [varchar](50) NULL,\n\t[height] [float] NULL,\n\t[unit] [varchar](50) NULL,\n        [issued] [datetime] NULL\n) ON [PRIMARY];\n"
                            },
                            "enableStaging": false,
                            "dataIntegrationUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": {
                                    "id": "id",
                                    "subject.reference": "subject",
                                    "valueQuantity.value": "height",
                                    "valueQuantity.unit": "unit",
                                    "issued": "issued"
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "[variables('copyActivityHeightBlobDatasetName')]",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "[variables('copyActivityHeightSqlDatasetName')]",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "WeightToSql",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "WeightExport",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlSink",
                                "writeBatchSize": 10000,
                                "preCopyScript": "DROP TABLE [dbo].[Weight];\n\nCREATE TABLE [dbo].[Weight](\n\t[id] [varchar](50) NOT NULL,\n\t[subject] [varchar](50) NULL,\n\t[weight] [float] NULL,\n\t[unit] [varchar](50) NULL,\n        [issued] [datetime] NULL\n) ON [PRIMARY];\n"
                            },
                            "enableStaging": false,
                            "dataIntegrationUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": {
                                    "id": "id",
                                    "subject": "subject",
                                    "valueQuantity.value": "weight",
                                    "valueQuantity.unit": "unit",
                                    "issued": "issued"
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "[variables('copyActivityWeightBlobDatasetName')]",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "[variables('copyActivityWeightSqlDatasetName')]",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "PatientSummary",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "PatientToSql",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "HeightToSql",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "WeightToSql",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "SqlSource",
                                "sqlReaderQuery": "DECLARE @LatestWeight table \n( \n   id varchar(50), \n   subject varchar(50), \n   weight float \n)\n\nDECLARE @LatestHeight table \n( \n   id varchar(50), \n   subject varchar(50), \n   height float \n)\n\n;WITH w AS\n(\n   SELECT *,\n         ROW_NUMBER() OVER (PARTITION BY subject ORDER BY issued DESC) AS rn\n   FROM Weight\n)\nINSERT INTO @LatestWeight \nSELECT w.id, w.subject, w.weight\nFROM w\nWHERE rn = 1\n\n;WITH h AS\n(\n   SELECT *,\n         ROW_NUMBER() OVER (PARTITION BY subject ORDER BY issued DESC) AS rn\n   FROM Height\n)\nINSERT INTO @LatestHeight \nSELECT h.id, h.subject, h.height\nFROM h\nWHERE rn = 1\n\nSELECT Patients.id AS patientId, DATEDIFF(hour, Patients.birthDate, GETDATE())/8766 AS ageYears, Patients.lattitude, Patients.longitude, [@LatestWeight].weight, [@LatestHeight].height  FROM Patients\nINNER JOIN @LatestHeight ON [@LatestHeight].subject LIKE '%'+Patients.id+'%' \nINNER JOIN @LatestWeight ON [@LatestWeight].subject LIKE '%'+Patients.id+'%' "
                            },
                            "sink": {
                                "type": "SqlSink",
                                "writeBatchSize": 10000,
                                "preCopyScript": "DROP TABLE [dbo].[PatientSummary];\n\nCREATE TABLE [dbo].[PatientSummary](\n\t[patientId] [varchar](50) NOT NULL,\n\t[ageYears] [int] NULL,\n\t[height] [float] NULL,\n\t[weight] [float] NULL,\n\t[lattitude] [float] NULL,\n\t[longitude] [float] NULL,\n) ON [PRIMARY];\n"
                            },
                            "enableStaging": false,
                            "dataIntegrationUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": {
                                    "patientId": "patientId",
                                    "ageYears": "ageYears",
                                    "lattitude": "lattitude",
                                    "longitude": "longitude",
                                    "weight": "weight",
                                    "height": "height"
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "[variables('copyActivitySummarySqlDatasetName')]",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "[variables('copyActivitySummarySqlDatasetName')]",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "annotations": []
            },
            "dependsOn": [
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('blobStorageLinkName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/linkedServices/', variables('batchLinkName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/datasets/', variables('copyActivityWeightBlobDatasetName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/datasets/', variables('copyActivityWeightSqlDatasetName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/datasets/', variables('copyActivityHeightBlobDatasetName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/datasets/', variables('copyActivityHeightSqlDatasetName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/datasets/', variables('copyActivitySummarySqlDatasetName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/datasets/', variables('copyActivityPatientBlobDatasetName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/datasets/', variables('copyActivityPatientSqlDatasetName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/datasets/', variables('customActivityScriptDatasetName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/datasets/', variables('customActivityScriptBlobDatasetName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/datasets/', variables('customActivityZipDatasetName'))]",
                "[concat(resourceId('Microsoft.DataFactory/factories', variables('adfName')), '/datasets/', variables('customActivityZipBlobDatasetName'))]"
            ]
        }   
    ]
}